<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SBHack 2019 Supply Chain ID</title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container my-5">
      <h1>SBHack 2019 Supply Chain ID</h1>
    </div>
  </body>
</html>
