@import "~bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  list-style: none;
}

.user-selection {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: scroll;

    &::-webkit-scrollbar { 
      display: none; 
    }

    li {
      flex: 0 0 auto;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.active {
        color: red;
        text-decoration: underline;
      }
    }
  }
}

.tracking-section {
  ul {
    margin: 0;
  }

  .tracking-entry {
    border:1px solid black;
  }
}