@import "~bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 10px;
  background: #323232;
  color: #FFFFFF;
  font-weight: bold;
  transition: all 0.25s ease;

  &:hover {
    background: #76A21E;
  }
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .app-header {
    background-color: #323232;
    color: #FFFFFF;
    text-align: center;
  
    h1 {
      margin: 10px 0;
      font-size: 2rem;
    }
  }

  .app-main {
    // background: #EEEEEE;
    background: #FFFFFF;
    flex: 1;

    section {
      .imageBackground {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        height: 200px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .data-container {
        margin: 25px auto;
      }

      .cbd-element {
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;

        .cbd-data {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 10px;
        }

        img {
          width: 100%;
          height: 100%;
          max-width: 150px;
          max-height: 150px;
        }
      }

      .ready-btn {
        display: block;
        margin-top: 10px;
      }

      h1 {
        color: #FFFFFF;
      }

      h4 {
       margin: 20px 0;
     }
    }

    .welcome-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        margin: 30px 0;
      }

      img {
        width: 100%;
        max-width: 300px;
      }
    }

    .parties-selection {
      background: #FFFFFF;
  
      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap;
        margin: 0;
        overflow: scroll;
    
        &::-webkit-scrollbar { 
          display: none; 
        }
    
        li {
          position: relative;
          flex: 0 0 auto;
          padding: 20px 0;
          text-transform: uppercase;
          font-weight: bold;
          cursor: pointer;
          transition: all 0.25s ease;
    
          &:not(:last-child) {
            margin-right: 20px;
          }
  
          &:hover {
            color: #76A21E;
          }
    
          &.active {
            color: #76A21E;
  
            &:after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 3px;
              background: #76A21E;
            }
          }
        }
      }
    }
  }
  
  .app-footer {
    text-align: center;

    a {
      color: #76A21E;
    }

    h5 {
      margin: 10px 0;
    }
  }
}
