packages:
  yum:
    gcc: []
    make: []
    openssl-devel: []
    libxml2: []
    libxml2-devel: []
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh" :
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/bash
      export HOME=/home/ec2-user
      export USERPROFILE=/home/ec2-user

      sudo rm -rf /tmp/deployment/application/node_modules/bcrypt

      set -xe

      /opt/elasticbeanstalk/containerfiles/ebnode.py --action npm-install
